/*
Author: Camden I. Wagner
File: styles.css
*/

html,
body {
	background: #000000;
    height: 100%;
}

img {
    max-width: 100%;
}

/* cover */

#cover {
    background: #222 url('img/AmWThvw.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}


/* what i do */

#what-i-do {
	background: #FFFFFF;
}


/* about */

#about {
    background: url('img/IMG_3635_web-X2.jpg') center center no-repeat;
    background-size: cover;
}
.ico_img {
	margin: 5px;
}


.section-content {
    padding: 5rem 0;
}

.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}

#footer-main {
    background: url('img/yellow_pattern.jpg') center center;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}
#footer-main a {
	font-size: 14px;
	color: teal;
}





/* general class css */

.float_right {
    float: right;
    padding: 10px;
}
.list-unstyled a {
	color: #0000e6;
}
.hr-set_1 {
	background: #333333;
}