/*
Author: Camden I. Wagner
File: styles.css
*/

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

/* cover */

#cover {
    background: #222 url('img/AmWThvw.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}